   .customOrb {
     background: none;
     position:absolute;
     margin-left: 35%;
     min-width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     
   }
   
   