$recorder-color: #38383d;
$border-color: #f9f9fa33;
$background: #2a2a2e;
$size: 50px;

.mic-recorder {
  position: relative;
  width: $size;
  height: $size;
  border-radius: 50%;
  background: $recorder-color;
  border: 1px solid $border-color;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;

  &.disabled {
    background-color: cyan;
    cursor: not-allowed;

    #record {
      filter: brightness(0.3);
    }
  }

  #record {
    width: 60%;
    height: 60%;
    transition: inherit;
    filter: brightness(1);
  }

  &:hover:not(.disabled) {
    #record {
      filter: brightness(0);
    }
  }

  &.recording {
    box-shadow: 0 0 0 1px #45a1ff, 0 0 0 4px rgba(69, 161, 255, 0.3);
    #record {
      animation: recording 0.7s ease infinite;
    }
  }
}

@keyframes recording {
  from, to {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}




