.MicWcontainer{
     display: inline-block;
     justify-content: center;
     align-items: center;
     width: 100%;
     max-width: 80%;
     margin: 0 auto;
}
#waveCanvas{
  width: 100%;

}

   
   